@page "/Administration/ProductCategories"

@using HMDb.Data

@inject IProductCategoryData db_ProductCategoryData
@inject IDialogService DialogService

<PageTitle>Product Categories</PageTitle>

<MudText Typo="Typo.h4">Product Categories</MudText>

<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenCreateProductCategoryDialog">
    Open Dialog
</MudButton>

@if (_productCategory is not null)
{
    <MudSimpleTable Dense="true" Hover="true" Bordered="true" Class="mt-6">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var productCategory in _productCategory)
            {
                <tr>
                    <td>@productCategory.Id</td>
                    <td>@productCategory.Name</td>
                    <td>
                        <MudIconButton Color="Color.Warning" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" />
                        <MudIconButton Color="Color.Error" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" OnClick="e => DeleteProductCategory(productCategory)" />
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}
